/* this is the main style sheet for Colmar Academy site*/

html{
    font-family: sans-serif;
    color: #4a4a4a;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 14px;
    font-weight: lighter;
}

a {
    font-size: 14px;
    font-weight: lighter;
    text-decoration: none;
    color: #5f9de5;
}

.banner-content p {
    font-size: 22px;
    font-weight:500;
}

header {
    background-color: white;
}

.main-menu ul {
    list-style: none;
}

.mobile-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #dbdbdb;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner-content h1 {
    text-align: left;
    /* line-height:normal; */
    width: 100%;
}

.banner-content p {
    text-align: left;
    margin-top: 32px;
    /* line-height:normal; */
    width: 100%;
}

.banner-content button {
    text-align: center;
    width: 100%;
    background-color: #9b9b9b;
    margin-top: 24px;
    height: 55px;
    border: 0;
    padding: 0;
    color: white;
    font-size: 22px;
    font-weight:500;
}

.side-information {
    background-color: white;
    display: grid;
    margin: 16px 16px 32px 16px;
}

.side-text {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
}

.courses-container {
    outline: solid 1px #f3f4f4;
    display: grid;
    padding: 32px 16px 32px 16px;
}

.courses-container h2 {
    height: fit-content;
    line-height: normal;
    text-align: center;

}

.courses-inner-container {
    display: grid;
    row-gap: 8px;
    margin-top: 16px;
}

.course-card {
    background-color: #dbdbdb;
    padding: 16px 16px 24px 16px;
}

