/* this is the main style sheet for Colmar Academy site*/

/* Global */
html{
    font-family: sans-serif;
    color: #4a4a4a;
    /* width: 100vw; */
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 14px;
    font-weight: lighter;
}

a {
    font-size: 14px;
    font-weight: lighter;
    text-decoration: none;
    color: #5f9de5;
}

/* Header Navbar */

header {
    background-color: white;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-mobile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 64px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-desktop {
    display: none;
    height: 64px;
    width: 100vw;
    padding: 0 24px 0 24px;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: fit-content;
    line-height: 64px;
    font-size: 32px;
}

.navbar-desktop {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-items: flex-start;
}

.navbar-desktop a {
    font-size: 20px;
    font-weight: normal;
    color: #4a4a4a;

}

.navbar-item {
    display: flex;
    align-items: center;
}


/* Banner */

.banner {
    background-color: #dbdbdb;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px 32px 16px;
}

.banner-content h1 {
    text-align: left;
    width: 100%;

}

.banner-content p {
    text-align: left;
    margin-top: 32px;
    width: 100%;
    font-size: 22px;
    font-weight:500;
}

.banner-button {
    text-align: center;
    width: 100%;
    background-color: #9b9b9b;
    margin-top: 24px;
    border: 0;
    padding: 8px 0 8px 0;
    color: white;
    font-size: 22px;
    font-weight:500;
}

/* Information Side Bar */
.side-information {
    background-color: white;
    display: grid;
    padding: 16px 16px 32px 16px;
    row-gap: 64px;
}

.side-text {
    padding: 16px 16px 0 16px;
}


/* Courses */
.courses-container {
    outline: solid 1px #f3f4f4;
    display: grid;
    padding: 32px 16px 32px 16px;
}

.courses-container h2 {
    height: fit-content;
    line-height: normal;
    text-align: center;
}

.courses-inner-container {
    display: grid;
    row-gap: 8px;
    margin-top: 16px;
}

.course-card {
    background-color: #dbdbdb;
    padding: 16px 16px 24px 16px;
}

/* Exhibit */
.exhibit-container {
    padding: 32px 0px 24px 0px;
}

.exhibit-container h2 {
    height: fit-content;
    line-height: normal;
    text-align: center;
}

.main-exhibit-media {
    margin: 16px 0 24px 0;
}

.exhibit-video-mobile {
    width: 100vw;
}

/* copyright */
.copyright {
    padding: 16px 16px 16px 16px;
    width: 100%;
    font-size: 12px;
}

@media (min-width: 1024px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
    }

    .banner-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        padding: 32px 24px 32px 24px;
    }

    .image-banner {
        width: 60%vw;
    }

    .banner-button {
        width: 80%;
        background-color:#4d4e4e;
    }

}

